In [6]:
import pandas as pd

In [28]:
test = pd.read_csv('results.csv')
test2 = pd.read_csv('targets.csv')

In [29]:
test2

   sampling rate                                       test_targets
0              1  [array([[29.17849731, 29.18713379, 29.19573975...
1             10  [array([[28.71633911, 28.71347046, 28.72781372...
2             30  [array([[28.43170166, 28.46313477, 28.43170166...

In [46]:
test.iloc[[542]]

,transient,rhos,reg,lis,iss,con,Nr,Nl,.sampling,MSE,outputs,MSE_std,outputs_std
542,1000,1.0,0.0,0.1,0.1,0.5,10,2,1,0.001041,"[29.185133385188237, 29.186773880235705, 29.18...",0.000706,"[29.18716013514313, 29.190280635599265, 29.188..."